* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.navbar .arrow {
    font-size: 20px;
    margin-right: 10px;
    color: #8e44ad;
}

.navbar h2 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.checkout_link{
    text-decoration: none;
}

.section {
    margin-bottom: 20px;
}

.section_title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    font-size: 16px;
    color: #8e44ad;
}

.payment_method,
.delivery_address,
.delivery_options,
.non-contact_delivery {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.delivery_address .address {
    line-height: 1.5;
    color: #333;
}

.delivery-options .option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.delivery_options .option.selected {
    color: #8e44ad;
    font-weight: bold;
}

.toggle_switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toggle_switch label {
    font-size: 14px;
    color: #666;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #8e44ad;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.footer_icon {
    font-size: 20px;
    color: #8e44ad;
}